@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
* {
  font-family: "Titillium Web", sans-serif;
}
body {
  height: 2000px;
}
.navbar .navbar-brand {
  font-size: 40px;
}
.navbar .nav-item {
  padding: 10px 10px;
}
.navbar .nav-link {
  font-size: 30px;
  margin-left: 10px;
}
.fa-bars {
  color: #007bff;
  font-size: 30px;
}

.right{
    width: 300px;
	position:relative;
	bottom:0px;
	right:100px;
}

@media screen and (max-width: 1282px) {
  .right{
	position:static;
	
}
}
